<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<module id="cb999771-d38d-4f74-b8a1-1ac000e5de0e">
  <name>DM Operations Center</name>
  <slug>dm-operations-center</slug>
  <description>MrFarland's DM Operations Center</description>
  <author>Donald Farland (donfarland.com)</author>
  <code>dm-operations-center</code>
  <category/>
  <image>assets/img/placeholder_1920x1080.jpg</image>
  <page id="691547e4-6c44-5325-9655-dcd1a91cacc1" sort="0">
    <name>Home</name>
    <slug>home</slug>
    <content>&lt;h2 id="dm-operations-center"&gt;&lt;a id="home-dm-operations-center"&gt;&lt;/a&gt;&lt;a id="dm-operations-center"&gt;&lt;/a&gt;DM Operations Center&lt;/h2&gt;
&lt;p&gt;&lt;em&gt;&lt;sup&gt;Preview&lt;/sup&gt; &lt;sup&gt;Release&lt;/sup&gt; &lt;sup&gt;0.1.0&lt;/sup&gt;&lt;/em&gt;&lt;/p&gt;
&lt;div id="menu-container"&gt;
    &lt;a href="abilities"&gt;Abilities&lt;/a&gt;
    &lt;a href="combat"&gt;Combat&lt;/a&gt;
    &lt;a href="conditions"&gt;Conditions&lt;/a&gt;
    &lt;a href="downtime"&gt;Downtime&lt;/a&gt;
    &lt;a href="encounters"&gt;Encounters&lt;/a&gt;
    &lt;a href="environment"&gt;Environment&lt;/a&gt;
    &lt;a href="expenses"&gt;Expenses&lt;/a&gt;
    &lt;a href="movement"&gt;Movement&lt;/a&gt;
    &lt;a href="spellcasting"&gt;Spellcasting&lt;/a&gt;
    &lt;a href="survival"&gt;Survival&lt;/a&gt;
    &lt;a href="travel"&gt;Travel&lt;/a&gt;
    &lt;a href="worldbuilding"&gt;Worldbuilding&lt;/a&gt;
&lt;/div&gt;
</content>
  </page>
  <page id="2e5061d8-871b-53bb-b7c7-80ed942b1a30" sort="10">
    <name>Conditions</name>
    <slug>conditions</slug>
    <content>&lt;h2 id="conditions"&gt;&lt;a id="conditions-conditions"&gt;&lt;/a&gt;&lt;a id="conditions"&gt;&lt;/a&gt;Conditions&lt;/h2&gt;&lt;p&gt;&lt;a href="home"&gt;Home&lt;/a&gt; &amp;gt; Conditions&lt;/p&gt;&lt;div id="menu-container"&gt;
    &lt;a href="blinded"&gt;Blinded&lt;/a&gt;
    &lt;a href="cursed"&gt;Cursed*&lt;/a&gt;
    &lt;a href="deafened"&gt;Deafened&lt;/a&gt;
    &lt;a href="diseased"&gt;Diseased*&lt;/a&gt;
    &lt;a href="dying"&gt;Dying*&lt;/a&gt;
    &lt;a href="exhaustion"&gt;Exhaustion&lt;/a&gt;
    &lt;a href="frightened"&gt;Frightened&lt;/a&gt;
    &lt;a href="grappled"&gt;Grappled&lt;/a&gt;
    &lt;a href="incapacitated"&gt;Incapacitated&lt;/a&gt;
    &lt;a href="invisible"&gt;Invisible&lt;/a&gt;
    &lt;a href="madness"&gt;Madness*&lt;/a&gt;
    &lt;a href="paralyzed"&gt;Paralyzed&lt;/a&gt;
    &lt;a href="petrified"&gt;Petrified&lt;/a&gt;
    &lt;a href="poisoned"&gt;Poisoned&lt;/a&gt;
    &lt;a href="prone"&gt;Prone&lt;/a&gt;
    &lt;a href="restrained"&gt;Restratined&lt;/a&gt;
    &lt;a href="sleeping"&gt;Sleeping*&lt;/a&gt;
    &lt;a href="stunned"&gt;Stunned&lt;/a&gt;
    &lt;a href="suffocating*"&gt;Suffocating&lt;/a&gt;
    &lt;a href="unconcious"&gt;Unconcious&lt;/a&gt;
&lt;/div&gt;&lt;br&gt;&lt;p class="small-text"&gt;* This is not a condition, but serves a similar function.&lt;/p&gt;</content>
  </page>
  <page id="4107493b-239a-58f0-80ed-c27deb8df4f5" sort="0" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Blinded</name>
    <slug>blinded</slug>
    <content>&lt;h3 id="blinded"&gt;&lt;a id="blinded-blinded"&gt;&lt;/a&gt;&lt;a id="blinded"&gt;&lt;/a&gt;Blinded&lt;/h3&gt;&lt;p class="small-text"&gt;&lt;a href="home"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Blinded&lt;/p&gt;&lt;p&gt;A &lt;strong&gt;blinded&lt;/strong&gt; creature cannot see and:&lt;/p&gt;&lt;ul class="square"&gt;
&lt;li&gt;checks based on sight fail,&lt;/li&gt;
&lt;li&gt;attacks against it have advantage,&lt;/li&gt;
&lt;li&gt;its attacks have disadvantage,&lt;/li&gt;
&lt;/ul&gt;&lt;p class="small-text"&gt;&lt;em&gt;Source: Player&amp;#x2019;s Handbook, p. 290&lt;/em&gt;&lt;/p&gt;</content>
  </page>
  <page id="6bad69c9-e5a3-5ce1-92d4-880a16d0510a" sort="1" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Cursed</name>
    <slug>cursed</slug>
    <content>&lt;h3 id="cursed"&gt;&lt;a id="cursed-cursed"&gt;&lt;/a&gt;&lt;a id="cursed"&gt;&lt;/a&gt;Cursed&lt;/h3&gt;&lt;p class="small-text"&gt;&lt;a href="home"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Cursed&lt;/p&gt;&lt;p class="small-text"&gt;&lt;em&gt;Source: Player&amp;#x2019;s Handbook, p. xxx&lt;/em&gt;&lt;/p&gt;</content>
  </page>
  <page id="c364e703-2c18-5f67-b0e3-b0b3325f2d67" sort="2" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Deafened</name>
    <slug>deafened</slug>
    <content>&lt;h3 id="deafened"&gt;&lt;a id="deafened-deafened"&gt;&lt;/a&gt;&lt;a id="deafened"&gt;&lt;/a&gt;Deafened&lt;/h3&gt;&lt;p class="small-text"&gt;&lt;a href="home"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Deafened&lt;/p&gt;&lt;p&gt;A &lt;strong&gt;deafened&lt;/strong&gt; creature cannot hear and:&lt;/p&gt;&lt;ul class="square"&gt;
&lt;li&gt;checks based on hearing fail.&lt;/li&gt;
&lt;/ul&gt;&lt;p class="small-text"&gt;&lt;em&gt;Source: Player&amp;#x2019;s Handbook, p. 290&lt;/em&gt;&lt;/p&gt;</content>
  </page>
  <page id="f9dca2a1-7214-55ab-8d33-706a3eb63600" sort="3" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Diseased</name>
    <slug>diseased</slug>
    <content>&lt;h3 id="diseased"&gt;&lt;a id="diseased-diseased"&gt;&lt;/a&gt;&lt;a id="diseased"&gt;&lt;/a&gt;Diseased&lt;/h3&gt;&lt;p class="small-text"&gt;&lt;a href="home"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Diseased&lt;/p&gt;&lt;p class="small-text"&gt;&lt;em&gt;Source: Player&amp;#x2019;s Handbook, p. xxx&lt;/em&gt;&lt;/p&gt;</content>
  </page>
  <page id="4ee14c87-8494-518c-bfd7-2b5c8b0f9b59" sort="4" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Dying</name>
    <slug>dying</slug>
    <content>&lt;h3 id="dying"&gt;&lt;a id="dying-dying"&gt;&lt;/a&gt;&lt;a id="dying"&gt;&lt;/a&gt;Dying&lt;/h3&gt;&lt;p class="small-text"&gt;&lt;a href="home"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Dying&lt;/p&gt;&lt;p class="small-text"&gt;&lt;em&gt;Source: Player&amp;#x2019;s Handbook, p. xxx&lt;/em&gt;&lt;/p&gt;</content>
  </page>
  <page id="5cfdce3c-e819-57d1-a2d2-c7acb3f35775" sort="5" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Exhaustion</name>
    <slug>exhaustion</slug>
    <content>&lt;h3 id="exhaustion"&gt;&lt;a id="exhaustion-exhaustion"&gt;&lt;/a&gt;&lt;a id="exhaustion"&gt;&lt;/a&gt;Exhaustion&lt;/h3&gt;&lt;p class="small-text"&gt;&lt;a href="home"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Exhaustion&lt;/p&gt;&lt;p&gt;An &lt;strong&gt;exhausted&lt;/strong&gt; creature has:&lt;/p&gt;&lt;table class="gray"&gt;
&lt;thead&gt;
&lt;tr&gt;
&lt;th style="text-align:center"&gt;Level&lt;/th&gt;
&lt;th style="text-align:left"&gt;Effect&lt;/th&gt;
&lt;/tr&gt;
&lt;/thead&gt;
&lt;tbody&gt;
&lt;tr&gt;
&lt;td style="text-align:center"&gt;1&lt;/td&gt;
&lt;td style="text-align:left"&gt;Disadvantage on ability checks&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style="text-align:center"&gt;2&lt;/td&gt;
&lt;td style="text-align:left"&gt;Speed halved&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style="text-align:center"&gt;3&lt;/td&gt;
&lt;td style="text-align:left"&gt;Disadvantage on attacks &amp;amp; saves&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style="text-align:center"&gt;4&lt;/td&gt;
&lt;td style="text-align:left"&gt;Hit point maximum halved&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style="text-align:center"&gt;5&lt;/td&gt;
&lt;td style="text-align:left"&gt;Speed reduced to 0&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style="text-align:center"&gt;6&lt;/td&gt;
&lt;td style="text-align:left"&gt;Death&lt;/td&gt;
&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;&lt;ul class="square"&gt;
&lt;li&gt;Additional points increase the level.&lt;/li&gt;
&lt;li&gt;Suffer effects of current &amp;amp; lower levels.&lt;/li&gt;
&lt;li&gt;Ends if level is reduced below level 1.&lt;/li&gt;
&lt;li&gt;Long rest lowers level w/ food &amp;amp; drink.&lt;/li&gt;
&lt;/ul&gt;&lt;p class="small-text"&gt;&lt;em&gt;Source: Player&amp;#x2019;s Handbook, p. 291&lt;/em&gt;&lt;/p&gt;</content>
  </page>
  <page id="52935a28-640c-5caf-aba9-10418b4e3255" sort="6" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Frightened</name>
    <slug>frightened</slug>
    <content>&lt;h3 id="frightened"&gt;&lt;a id="frightened-frightened"&gt;&lt;/a&gt;&lt;a id="frightened"&gt;&lt;/a&gt;Frightened&lt;/h3&gt;&lt;p class="small-text"&gt;&lt;a href="home"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Frightened&lt;/p&gt;&lt;p&gt;A &lt;strong&gt;frightened&lt;/strong&gt; creature:&lt;/p&gt;&lt;ul class="square"&gt;
&lt;li&gt;has disadvantage on checks &amp;amp; attacks while small-text of fear is in sight.&lt;/li&gt;
&lt;li&gt;Can&amp;#x2019;t move closer to small-text of fear.&lt;/li&gt;
&lt;/ul&gt;&lt;p class="small-text"&gt;&lt;em&gt;Source: Player&amp;#x2019;s Handbook, p. 290&lt;/em&gt;&lt;/p&gt;</content>
  </page>
  <page id="afbf382f-2e21-5a25-9e66-b7d9b06745fa" sort="7" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Grappled</name>
    <slug>grappled</slug>
    <content>&lt;h3 id="grappled"&gt;&lt;a id="grappled-grappled"&gt;&lt;/a&gt;&lt;a id="grappled"&gt;&lt;/a&gt;Grappled&lt;/h3&gt;&lt;p class="small-text"&gt;&lt;a href="home"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Grappled&lt;/p&gt;&lt;p&gt;A &lt;strong&gt;grappled&lt;/strong&gt; creature:&lt;/p&gt;&lt;ul&gt;
&lt;li&gt;has a speed of 0,&lt;/li&gt;
&lt;li&gt;cannot benefit from bonus to speed,&lt;/li&gt;
&lt;/ul&gt;&lt;p&gt;The condition is removed if the:&lt;/p&gt;&lt;ul class="square"&gt;
&lt;li&gt;grappler releases the creature,&lt;/li&gt;
&lt;li&gt;creature is forced out of reach.&lt;/li&gt;
&lt;/ul&gt;&lt;p class="small-text"&gt;&lt;em&gt;Source: Player&amp;#x2019;s Handbook, p. 290&lt;/em&gt;&lt;/p&gt;</content>
  </page>
  <page id="8431b253-f233-5dd1-a33f-42f938d24a4e" sort="8" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Incapacitated</name>
    <slug>incapacitated</slug>
    <content>&lt;h3 id="incapacitated"&gt;&lt;a id="incapacitated-incapacitated"&gt;&lt;/a&gt;&lt;a id="incapacitated"&gt;&lt;/a&gt;Incapacitated&lt;/h3&gt;&lt;p class="small-text"&gt;&lt;a href="home"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Incapacitated&lt;/p&gt;&lt;p&gt;An &lt;strong&gt;incapacitated&lt;/strong&gt; creature:&lt;/p&gt;&lt;ul class="square"&gt;
&lt;li&gt;cannot take actions or reactions.&lt;/li&gt;
&lt;/ul&gt;&lt;p class="small-text"&gt;&lt;em&gt;Source: Player&amp;#x2019;s Handbook, p. 290&lt;/em&gt;&lt;/p&gt;</content>
  </page>
  <page id="dc823821-f256-5f47-b782-626c37300c72" sort="9" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Invisible</name>
    <slug>invisible</slug>
    <content>&lt;h3 id="invisible"&gt;&lt;a id="invisible-invisible"&gt;&lt;/a&gt;&lt;a id="invisible"&gt;&lt;/a&gt;Invisible&lt;/h3&gt;&lt;p class="small-text"&gt;&lt;a href="home"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Invisible&lt;/p&gt;&lt;p&gt;An &lt;strong&gt;invisible&lt;/strong&gt; creature:&lt;/p&gt;&lt;ul class="square"&gt;
&lt;li&gt;is impossible to see without magic,&lt;/li&gt;
&lt;li&gt;is heavily obscured when hiding,&lt;/li&gt;
&lt;li&gt;can be detected by noise &amp;amp; tracks,&lt;/li&gt;
&lt;li&gt;has advantage on attacks,&lt;/li&gt;
&lt;/ul&gt;&lt;p&gt;Attacks against have disadvantage.&lt;/p&gt;&lt;p class="small-text"&gt;&lt;em&gt;Source: Player&amp;#x2019;s Handbook, p. 291&lt;/em&gt;&lt;/p&gt;</content>
  </page>
  <page id="626a3b88-a682-5fa3-98e6-62bf3d64d08e" sort="10" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Madness</name>
    <slug>madness</slug>
    <content>&lt;h3 id="madness"&gt;&lt;a id="madness-madness"&gt;&lt;/a&gt;&lt;a id="madness"&gt;&lt;/a&gt;Madness&lt;/h3&gt;&lt;p class="small-text"&gt;&lt;a href="home"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Madness&lt;/p&gt;&lt;p class="small-text"&gt;&lt;em&gt;Source: Player&amp;#x2019;s Handbook, p. xxx&lt;/em&gt;&lt;/p&gt;</content>
  </page>
  <page id="fc112b05-8388-5447-92c2-129cfda65987" sort="11" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Paralyzed</name>
    <slug>paralyzed</slug>
    <content>&lt;h3 id="paralyzed"&gt;&lt;a id="paralyzed-paralyzed"&gt;&lt;/a&gt;&lt;a id="paralyzed"&gt;&lt;/a&gt;Paralyzed&lt;/h3&gt;&lt;p class="small-text"&gt;&lt;a href="home"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Paralyzed&lt;/p&gt;&lt;p&gt;A &lt;strong&gt;paralyzed&lt;/strong&gt; creature:&lt;/p&gt;&lt;ul class="square"&gt;
&lt;li&gt;is incapacitated &amp;amp; can&amp;#x2019;t move or speak,&lt;/li&gt;
&lt;li&gt;fails strength &amp;amp; dexterity saving throws.&lt;/li&gt;
&lt;/ul&gt;&lt;p&gt;Attacks against have advantage and hits within 5&amp;#x2019; are critical hits.&lt;/p&gt;&lt;p class="small-text"&gt;&lt;em&gt;Source: Player&amp;#x2019;s Handbook, p. 291&lt;/em&gt;&lt;/p&gt;</content>
  </page>
  <page id="89f1b94b-a710-5e69-86bc-f22be8a33ac1" sort="12" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Petrified</name>
    <slug>petrified</slug>
    <content>&lt;h3 id="petrified"&gt;&lt;a id="petrified-petrified"&gt;&lt;/a&gt;&lt;a id="petrified"&gt;&lt;/a&gt;Petrified&lt;/h3&gt;&lt;p class="small-text"&gt;&lt;a href="home"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Petrified&lt;/p&gt;&lt;p&gt;A &lt;strong&gt;petrified&lt;/strong&gt; creature:&lt;/p&gt;&lt;ul class="square"&gt;
&lt;li&gt;is transformed into a solid substance,&lt;/li&gt;
&lt;li&gt;its mundane items are transformed too,&lt;/li&gt;
&lt;li&gt;has it its weight increase by ten,&lt;/li&gt;
&lt;li&gt;stops aging,&lt;/li&gt;
&lt;li&gt;is incapacitated &amp;amp; can&amp;#x2019;t move or speak,&lt;/li&gt;
&lt;li&gt;fails strength &amp;amp; dexterity saving throws,&lt;/li&gt;
&lt;li&gt;has resistance to all damage,&lt;/li&gt;
&lt;li&gt;is immune to poison and disease, but current poison or disease is suspended&lt;/li&gt;
&lt;/ul&gt;&lt;p&gt;Attacks against have advantage.&lt;/p&gt;&lt;p class="small-text"&gt;&lt;em&gt;Source: Player&amp;#x2019;s Handbook, p. 291&lt;/em&gt;&lt;/p&gt;</content>
  </page>
  <page id="7a8c2337-2906-5744-acf8-fdefd03aeac1" sort="13" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Poisoned</name>
    <slug>poisoned</slug>
    <content>&lt;h3 id="poisoned"&gt;&lt;a id="poisoned-poisoned"&gt;&lt;/a&gt;&lt;a id="poisoned"&gt;&lt;/a&gt;Poisoned&lt;/h3&gt;&lt;p class="small-text"&gt;&lt;a href="home"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Poisoned&lt;/p&gt;&lt;p&gt;A &lt;strong&gt;poisoned&lt;/strong&gt; creature:&lt;/p&gt;&lt;ul class="square"&gt;
&lt;li&gt;has disadvantage on attacks &amp;amp; checks.&lt;/li&gt;
&lt;/ul&gt;&lt;p class="small-text"&gt;&lt;em&gt;Source: Player&amp;#x2019;s Handbook, p. 292&lt;/em&gt;&lt;/p&gt;</content>
  </page>
  <page id="c2897676-7460-5fba-866e-1aa143ecfa2c" sort="14" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Prone</name>
    <slug>prone</slug>
    <content>&lt;h3 id="prone"&gt;&lt;a id="prone-prone"&gt;&lt;/a&gt;&lt;a id="prone"&gt;&lt;/a&gt;Prone&lt;/h3&gt;&lt;p class="small-text"&gt;&lt;a href="home"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Prone&lt;/p&gt;&lt;p&gt;A &lt;strong&gt;prone&lt;/strong&gt; creature:&lt;/p&gt;&lt;ul class="square"&gt;
&lt;li&gt;can only crawl, unless it stands up,&lt;/li&gt;
&lt;li&gt;has disadvantage on attacks,&lt;/li&gt;
&lt;/ul&gt;&lt;p&gt;Attacks against have advantage and hits within 5&amp;#x2019; are critical hits.&lt;/p&gt;&lt;p class="small-text"&gt;&lt;em&gt;Source: Player&amp;#x2019;s Handbook, p. 292&lt;/em&gt;&lt;/p&gt;</content>
  </page>
  <page id="2ebe19f0-8565-5da9-81de-2284c755afad" sort="15" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Restrained</name>
    <slug>restrained</slug>
    <content>&lt;h3 id="restrained"&gt;&lt;a id="restrained-restrained"&gt;&lt;/a&gt;&lt;a id="restrained"&gt;&lt;/a&gt;Restrained&lt;/h3&gt;&lt;p class="small-text"&gt;&lt;a href="home"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Restrained&lt;/p&gt;&lt;p&gt;A &lt;strong&gt;restrained&lt;/strong&gt; creature:&lt;/p&gt;&lt;ul class="square"&gt;
&lt;li&gt;has a speed of 0,&lt;/li&gt;
&lt;li&gt;cannot benefit from bonus to speed,&lt;/li&gt;
&lt;li&gt;has disadvantage on attacks,&lt;/li&gt;
&lt;li&gt;has disadvantage on dex saves.&lt;/li&gt;
&lt;/ul&gt;&lt;p&gt;Attack against have advantage.&lt;/p&gt;&lt;p class="small-text"&gt;&lt;em&gt;Source: Player&amp;#x2019;s Handbook, p. 292&lt;/em&gt;&lt;/p&gt;</content>
  </page>
  <page id="a1936368-2646-5118-ad32-e3247278f33a" sort="16" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Sleeping</name>
    <slug>sleeping</slug>
    <content>&lt;h3 id="sleeping"&gt;&lt;a id="sleeping-sleeping"&gt;&lt;/a&gt;&lt;a id="sleeping"&gt;&lt;/a&gt;Sleeping&lt;/h3&gt;&lt;p class="small-text"&gt;&lt;a href="home"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Sleeping&lt;/p&gt;&lt;p class="small-text"&gt;&lt;em&gt;Source: Player&amp;#x2019;s Handbook, p. xxx&lt;/em&gt;&lt;/p&gt;</content>
  </page>
  <page id="383219e4-4b51-5b3a-ba3d-004618f09f9c" sort="17" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Stunned</name>
    <slug>stunned</slug>
    <content>&lt;h3 id="stunned"&gt;&lt;a id="stunned-stunned"&gt;&lt;/a&gt;&lt;a id="stunned"&gt;&lt;/a&gt;Stunned&lt;/h3&gt;&lt;p class="small-text"&gt;&lt;a href="home"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Stunned&lt;/p&gt;&lt;p&gt;A &lt;strong&gt;stunned&lt;/strong&gt; creature:&lt;/p&gt;&lt;ul class="square"&gt;
&lt;li&gt;is incapacitated &amp;amp; can&amp;#x2019;t move or speak,&lt;/li&gt;
&lt;li&gt;can only speak falteringly,&lt;/li&gt;
&lt;li&gt;fails strength &amp;amp; dexterity saving throws,&lt;/li&gt;
&lt;/ul&gt;&lt;p&gt;Attack against have advantage.&lt;/p&gt;&lt;p class="small-text"&gt;&lt;em&gt;Source: Player&amp;#x2019;s Handbook, p. 292&lt;/em&gt;&lt;/p&gt;</content>
  </page>
  <page id="e1abb671-0be2-5072-853b-8614c7933312" sort="18" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Suffocating</name>
    <slug>suffocating</slug>
    <content>&lt;h3 id="suffocating"&gt;&lt;a id="suffocating-suffocating"&gt;&lt;/a&gt;&lt;a id="suffocating"&gt;&lt;/a&gt;Suffocating&lt;/h3&gt;&lt;p class="small-text"&gt;&lt;a href="home"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Suffocating&lt;/p&gt;&lt;p class="small-text"&gt;&lt;em&gt;Source: Player&amp;#x2019;s Handbook, p. xxx&lt;/em&gt;&lt;/p&gt;</content>
  </page>
  <page id="ac65fd4c-d2a5-56f8-80a3-ba3acfe66a8a" sort="19" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Unconcious</name>
    <slug>unconcious</slug>
    <content>&lt;h3 id="unconcious"&gt;&lt;a id="unconcious-unconcious"&gt;&lt;/a&gt;&lt;a id="unconcious"&gt;&lt;/a&gt;Unconcious&lt;/h3&gt;&lt;p class="small-text"&gt;&lt;a href="home"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Unconcious&lt;/p&gt;&lt;p&gt;An &lt;strong&gt;unconcious&lt;/strong&gt; creature:&lt;/p&gt;&lt;ul class="square"&gt;
&lt;li&gt;is incapacitated &amp;amp; can&amp;#x2019;t move or speak,&lt;/li&gt;
&lt;li&gt;drops what it is holding and falls prone,&lt;/li&gt;
&lt;li&gt;fails strength &amp;amp; dexterity saving throws,&lt;/li&gt;
&lt;/ul&gt;&lt;p&gt;Attacks against have advantage and hits within 5&amp;#x2019; are critical hits.&lt;/p&gt;&lt;p class="small-text"&gt;&lt;em&gt;Source: Player&amp;#x2019;s Handbook, p. 292&lt;/em&gt;&lt;/p&gt;</content>
  </page>
</module>