/*
 Encounter+ iOS
 version 1.0
 ----------------
 custom styles & theme
 */
 
 #home-menu-container {
    align-content:center;
    align-items:center; 
    display:flex;
    flex-flow:row wrap;
    justify-content:center;
 }

 #home-menu-container a {
    background:#f2f2f2; 
    border:1px solid #dfdfdf; 
    border-radius:6px; 
    flex:1; 
    flex-basis:75px; 
    height:75px;
    line-height:75px; 
    margin:3px; 
    padding:5px; 
    text-align:center;
 }

 #home-menu-container a:hover {
    background:#58180d; 
    color:#f2f2f2;
 }

 #home-menu-container a:active {
    background:#6b1b0c; 
    color:#f2f2f2;
 }

 #footer {
     bottom:0;
     padding:12px;
     position:absolute;
     text-align:center;
 }

 #license {
    color:#282828;
    font-size:11px;
    line-height:11px;
}

 #fan-content-policy {
     color:#919191;
     font-size:8px;
     line-height:9px;
 }