<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<module id="cb999771-d38d-4f74-b8a1-1ac000e5de0e">
  <name>DM Operations Center</name>
  <slug>dm-operations-center</slug>
  <description>MrFarland's DM Operations Center</description>
  <author>Donald Farland (donfarland.com)</author>
  <code>dm-operations-center</code>
  <category/>
  <image>assets/img/placeholder_1920x1080.jpg</image>
  <group id="4b872932-62d6-5bf1-9c3d-5d9993c8d074">
    <name>pages-conditions</name>
    <slug>group-pages-conditions</slug>
  </group>
  <group id="ca960347-97fc-51bf-891b-12885b3e77f6">
    <name>pages-encounters</name>
    <slug>group-pages-encounters</slug>
  </group>
  <group id="ee43faf6-c2e1-54fb-9d85-dc666ebb88a1">
    <name>pages-movement</name>
    <slug>group-pages-movement</slug>
  </group>
  <page id="e6ec3901-6397-5b16-bcdd-a8d1f1638187" sort="0">
    <name>DM Operations Center</name>
    <slug>dm-operations-center</slug>
    <content>&lt;h2 id="dm-operations-center"&gt;&lt;a id="dm-operations-center-dm-operations-center"&gt;&lt;/a&gt;&lt;a id="dm-operations-center"&gt;&lt;/a&gt;DM Operations Center&lt;/h2&gt;
&lt;p class="small-text"&gt;&lt;em&gt;Preview Release 0.3.0&lt;/em&gt;&lt;/p&gt;
&lt;div class="menu-container"&gt;
    &lt;a href="abilities"&gt;Abilities&lt;/a&gt;
    &lt;a href="characters"&gt;Characters&lt;/a&gt;
    &lt;a href="combat"&gt;Combat&lt;/a&gt;
    &lt;a href="conditions"&gt;Conditions&lt;/a&gt;
    &lt;a href="downtime"&gt;Downtime&lt;/a&gt;
    &lt;a href="encounters"&gt;Encounters&lt;/a&gt;
    &lt;a href="environment"&gt;Environment&lt;/a&gt;
    &lt;a href="equipment"&gt;Equipment&lt;/a&gt;
    &lt;a href="expenses"&gt;Expenses&lt;/a&gt;
    &lt;a href="life-and-death"&gt;Life &amp;amp; Death&lt;/a&gt;
    &lt;a href="loot"&gt;Loot&lt;/a&gt;
    &lt;a href="movement"&gt;Movement&lt;/a&gt;
    &lt;a href="spellcasting"&gt;Spellcasting&lt;/a&gt;
    &lt;a href="worldbuilding"&gt;Worldbuilding&lt;/a&gt;
    &lt;a href="."&gt;-&lt;/a&gt;
&lt;/div&gt;
&lt;hr&gt;</content>
  </page>
  <page id="2e5061d8-871b-53bb-b7c7-80ed942b1a30" sort="10">
    <name>Conditions</name>
    <slug>conditions</slug>
    <content>&lt;h2 id="conditions"&gt;&lt;a id="conditions-conditions"&gt;&lt;/a&gt;&lt;a id="conditions"&gt;&lt;/a&gt;Conditions&lt;/h2&gt;
&lt;p class="small-text"&gt;&lt;a href="dm-operations-center"&gt;Home&lt;/a&gt; &amp;gt; Conditions&lt;/p&gt;
&lt;div class="menu-container"&gt;
    &lt;a href="blinded"&gt;Blinded&lt;/a&gt;
    &lt;a href="deafened"&gt;Deafened&lt;/a&gt;
    &lt;a href="exhaustion"&gt;Exhaustion&lt;/a&gt;
    &lt;a href="frightened"&gt;Frightened&lt;/a&gt;
    &lt;a href="grappled"&gt;Grappled&lt;/a&gt;
    &lt;a href="incapacitated"&gt;Incapacitated&lt;/a&gt;
    &lt;a href="invisible"&gt;Invisible&lt;/a&gt;
    &lt;a href="paralyzed"&gt;Paralyzed&lt;/a&gt;
    &lt;a href="petrified"&gt;Petrified&lt;/a&gt;
    &lt;a href="poisoned"&gt;Poisoned&lt;/a&gt;
    &lt;a href="prone"&gt;Prone&lt;/a&gt;
    &lt;a href="restrained"&gt;Restratined&lt;/a&gt;
    &lt;a href="stunned"&gt;Stunned&lt;/a&gt;
    &lt;a href="surprised"&gt;Surprised&lt;/a&gt;
    &lt;a href="unconcious"&gt;Unconcious&lt;/a&gt;
&lt;/div&gt;
&lt;div class="more"&gt;▼ More ▼&lt;/div&gt;
&lt;div class="menu-container"&gt;
    &lt;a href="cursed"&gt;Cursed&lt;/a&gt;
    &lt;a href="diseased"&gt;Diseased&lt;/a&gt;
    &lt;a href="Madness"&gt;Madness&lt;/a&gt;
&lt;/div&gt;
&lt;hr&gt;</content>
  </page>
  <page id="9b9e0dc8-eab4-5a39-99ab-bbbb54c37152" sort="6">
    <name>Encounters</name>
    <slug>encounters</slug>
    <content>&lt;h2 id="encounters"&gt;&lt;a id="encounters-encounters"&gt;&lt;/a&gt;&lt;a id="encounters"&gt;&lt;/a&gt;Encounters&lt;/h2&gt;
&lt;p class="small-text"&gt;&lt;a href="dm-operations-center"&gt;Home&lt;/a&gt; &amp;gt; Encounters&lt;/p&gt;
&lt;div class="menu-container"&gt;
    &lt;a href="encounter-generator"&gt;Encounter Generator&lt;/a&gt;
&lt;/div&gt;
&lt;div class="menu-container"&gt;
    &lt;a href="chases"&gt;Chases&lt;/a&gt;
    &lt;a href="dreams"&gt;Dreams&lt;/a&gt;
    &lt;a href="five-room-dungeon"&gt;Five Room&lt;br&gt; Dungeon&lt;/a&gt;
    &lt;a href="games"&gt;Games&lt;/a&gt;
    &lt;a href="naval-encounter"&gt;Naval&lt;br&gt; Encounter&lt;/a&gt;
    &lt;a href="notice-board"&gt;Notice Board&lt;/a&gt;
    &lt;a href="puzzles"&gt;Puzzles&lt;/a&gt;
    &lt;a href="rumors"&gt;Rumors&lt;/a&gt;
    &lt;a href="traps"&gt;Traps&lt;/a&gt;
    &lt;a href="."&gt;-&lt;/a&gt;
    &lt;a href="."&gt;-&lt;/a&gt;
    &lt;a href="."&gt;-&lt;/a&gt;
&lt;/div&gt;
&lt;hr&gt;</content>
  </page>
  <page id="6fcaabe9-874f-5d17-aec2-58e97be7d2f2" sort="10">
    <name>Movement</name>
    <slug>movement</slug>
    <content>&lt;h2 id="movement"&gt;&lt;a id="movement-movement"&gt;&lt;/a&gt;&lt;a id="movement"&gt;&lt;/a&gt;Movement&lt;/h2&gt;
&lt;p class="small-text"&gt;&lt;a href="dm-operations-center"&gt;Home&lt;/a&gt; &amp;gt; Movement&lt;/p&gt;
&lt;div class="menu-container"&gt;
    &lt;a href="carry-capacity"&gt;Carry&lt;br&gt; Capacity&lt;/a&gt;
    &lt;a href="climb"&gt;Climb&lt;/a&gt;
    &lt;a href="crawl"&gt;Crawl&lt;/a&gt;
    &lt;a href="difficult-terrain"&gt;Difficult&lt;br&gt; Terrain&lt;/a&gt;
    &lt;a href="fly"&gt;Fly&lt;/a&gt;
    &lt;a href="forced-march"&gt;Forced&lt;br&gt; March&lt;/a&gt;
    &lt;a href="jump"&gt;Jump&lt;/a&gt;
    &lt;a href="mounted-combat"&gt;Mount&lt;/a&gt;
    &lt;a href="push-drag-lift"&gt;Push, Drag,&lt;br&gt; Lift&lt;/a&gt;
    &lt;a href="size-and-space"&gt;Size &amp;amp; Space&lt;/a&gt;
    &lt;a href="swim"&gt;Swim&lt;/a&gt;
    &lt;a href="track"&gt;Track&lt;/a&gt;
    &lt;a href="travel-pace"&gt;Travel&lt;br&gt; Pace&lt;/a&gt;
    &lt;a href="."&gt;-&lt;/a&gt;
    &lt;a href="."&gt;-&lt;/a&gt;
&lt;/div&gt;
&lt;hr&gt;</content>
  </page>
  <page id="4107493b-239a-58f0-80ed-c27deb8df4f5" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Blinded</name>
    <slug>blinded</slug>
    <content>&lt;h3 id="blinded"&gt;&lt;a id="blinded-blinded"&gt;&lt;/a&gt;&lt;a id="blinded"&gt;&lt;/a&gt;Blinded&lt;/h3&gt;
&lt;p class="small-text"&gt;&lt;a href="dm-operations-center"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Blinded&lt;/p&gt;
&lt;ul class="square"&gt;
&lt;li&gt;The creature cannot see.&lt;/li&gt;
&lt;li&gt;All checks that rely on sight fail.&lt;/li&gt;
&lt;li&gt;All attacks have &lt;a href="advantage-disadvantage"&gt;disadvantage&lt;/a&gt;.&lt;/li&gt;
&lt;li&gt;Attacks &lt;strong&gt;against&lt;/strong&gt; have &lt;a href="advantage-disadvantage"&gt;advantage&lt;/a&gt;.&lt;/li&gt;
&lt;/ul&gt;
&lt;div class="blockquote-read-wrap"&gt;&lt;blockquote class="read small-text"&gt;
&lt;p&gt;&lt;strong&gt;Sources&lt;/strong&gt; &lt;br&gt;
Player’s Handbook, p. 290&lt;/p&gt;
&lt;/blockquote&gt;
&lt;/div&gt;</content>
  </page>
  <page id="c364e703-2c18-5f67-b0e3-b0b3325f2d67" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Deafened</name>
    <slug>deafened</slug>
    <content>&lt;h3 id="deafened"&gt;&lt;a id="deafened-deafened"&gt;&lt;/a&gt;&lt;a id="deafened"&gt;&lt;/a&gt;Deafened&lt;/h3&gt;
&lt;p class="small-text"&gt;&lt;a href="dm-operations-center"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Deafened&lt;/p&gt;
&lt;ul class="square"&gt;
&lt;li&gt;The creature cannot hear.&lt;/li&gt;
&lt;li&gt;All checks based on hearing fail.&lt;/li&gt;
&lt;/ul&gt;
&lt;div class="blockquote-read-wrap"&gt;&lt;blockquote class="read small-text"&gt;
&lt;p&gt;&lt;strong&gt;Sources&lt;/strong&gt; &lt;br&gt;
Player’s Handbook, p. 290&lt;/p&gt;
&lt;/blockquote&gt;
&lt;/div&gt;</content>
  </page>
  <page id="5cfdce3c-e819-57d1-a2d2-c7acb3f35775" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Exhaustion</name>
    <slug>exhaustion</slug>
    <content>&lt;h3 id="exhaustion"&gt;&lt;a id="exhaustion-exhaustion"&gt;&lt;/a&gt;&lt;a id="exhaustion"&gt;&lt;/a&gt;Exhaustion&lt;/h3&gt;
&lt;p class="small-text"&gt;&lt;a href="dm-operations-center"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Exhaustion&lt;/p&gt;
&lt;table class="gray small-text"&gt;
&lt;thead&gt;
&lt;tr&gt;&lt;/tr&gt;
&lt;/thead&gt;
&lt;tbody&gt;
&lt;tr&gt;
&lt;td style="text-align:center"&gt;1&lt;/td&gt;
&lt;td style="text-align:left"&gt;&lt;a href="advantage-disadvantage"&gt;Disadvantage&lt;/a&gt; on ability checks&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style="text-align:center"&gt;2&lt;/td&gt;
&lt;td style="text-align:left"&gt;Speed halved&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style="text-align:center"&gt;3&lt;/td&gt;
&lt;td style="text-align:left"&gt;&lt;a href="advantage-disadvantage"&gt;Disadvantage&lt;/a&gt; on attacks &amp;amp; saves&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style="text-align:center"&gt;4&lt;/td&gt;
&lt;td style="text-align:left"&gt;&lt;a href="hit-points"&gt;Hit point&lt;/a&gt; maximum halved&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style="text-align:center"&gt;5&lt;/td&gt;
&lt;td style="text-align:left"&gt;Speed reduced to 0&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td style="text-align:center"&gt;6&lt;/td&gt;
&lt;td style="text-align:left"&gt;Death&lt;/td&gt;
&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
&lt;ul class="square"&gt;
&lt;li&gt;Gaining additional points increases level.&lt;/li&gt;
&lt;li&gt;Suffer effects of current and lower levels.&lt;/li&gt;
&lt;li&gt;Ends if current level is reduced below 1.&lt;/li&gt;
&lt;li&gt;&lt;a href="rest-long"&gt;Long rest&lt;/a&gt; lowers level by 1, w/ &lt;a href="food-water"&gt;food &amp;amp; water&lt;/a&gt;.&lt;/li&gt;
&lt;/ul&gt;
&lt;div class="blockquote-read-wrap"&gt;&lt;blockquote class="read small-text"&gt;
&lt;p&gt;&lt;strong&gt;Sources&lt;/strong&gt; &lt;br&gt;
Player’s Handbook, p. 291&lt;/p&gt;
&lt;/blockquote&gt;
&lt;/div&gt;</content>
  </page>
  <page id="52935a28-640c-5caf-aba9-10418b4e3255" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Frightened</name>
    <slug>frightened</slug>
    <content>&lt;h3 id="frightened"&gt;&lt;a id="frightened-frightened"&gt;&lt;/a&gt;&lt;a id="frightened"&gt;&lt;/a&gt;Frightened&lt;/h3&gt;
&lt;p class="small-text"&gt;&lt;a href="dm-operations-center"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Frightened&lt;/p&gt;
&lt;ul class="square"&gt;
&lt;li&gt;Afraid of creature causing the effect.&lt;/li&gt;
&lt;li&gt;&lt;a href="disadvantage"&gt;Disadvantage&lt;/a&gt; on checks if source in sight.&lt;/li&gt;
&lt;li&gt;&lt;a href="disadvantage"&gt;Disadvantage&lt;/a&gt; on attacks if source in sight.&lt;/li&gt;
&lt;li&gt;Cannot willingly move closer to source.&lt;/li&gt;
&lt;/ul&gt;
&lt;div class="blockquote-read-wrap"&gt;&lt;blockquote class="read small-text"&gt;
&lt;p&gt;&lt;strong&gt;Sources&lt;/strong&gt; &lt;br&gt;
Player’s Handbook, p. 290&lt;/p&gt;
&lt;/blockquote&gt;
&lt;/div&gt;</content>
  </page>
  <page id="afbf382f-2e21-5a25-9e66-b7d9b06745fa" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Grappled</name>
    <slug>grappled</slug>
    <content>&lt;h3 id="grappled"&gt;&lt;a id="grappled-grappled"&gt;&lt;/a&gt;&lt;a id="grappled"&gt;&lt;/a&gt;Grappled&lt;/h3&gt;
&lt;p class="small-text"&gt;&lt;a href="dm-operations-center"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Grappled&lt;/p&gt;
&lt;ul class="square"&gt;
&lt;li&gt;The grappled creature’s speed is 0.&lt;/li&gt;
&lt;li&gt;Cannot benefit from any bonus to speed.&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;The condition ends when/if the:&lt;/p&gt;
&lt;ul class="square"&gt;
&lt;li&gt;Creature is released by the grappler.&lt;/li&gt;
&lt;li&gt;Creature is forced out of grappler’s reach.&lt;/li&gt;
&lt;/ul&gt;
&lt;div class="blockquote-read-wrap"&gt;&lt;blockquote class="read small-text"&gt;
&lt;p&gt;&lt;strong&gt;Sources&lt;/strong&gt; &lt;br&gt;
Player’s Handbook, p. 290&lt;/p&gt;
&lt;/blockquote&gt;
&lt;/div&gt;</content>
  </page>
  <page id="8431b253-f233-5dd1-a33f-42f938d24a4e" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Incapacitated</name>
    <slug>incapacitated</slug>
    <content>&lt;h3 id="incapacitated"&gt;&lt;a id="incapacitated-incapacitated"&gt;&lt;/a&gt;&lt;a id="incapacitated"&gt;&lt;/a&gt;Incapacitated&lt;/h3&gt;
&lt;p class="small-text"&gt;&lt;a href="dm-operations-center"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Incapacitated&lt;/p&gt;
&lt;ul class="square"&gt;
&lt;li&gt;Cannot take any actions or reactions.&lt;/li&gt;
&lt;/ul&gt;
&lt;div class="blockquote-read-wrap"&gt;&lt;blockquote class="read small-text"&gt;
&lt;p&gt;&lt;strong&gt;Sources&lt;/strong&gt; &lt;br&gt;
Player’s Handbook, p. 290&lt;/p&gt;
&lt;/blockquote&gt;
&lt;/div&gt;</content>
  </page>
  <page id="dc823821-f256-5f47-b782-626c37300c72" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Invisible</name>
    <slug>invisible</slug>
    <content>&lt;h3 id="invisible"&gt;&lt;a id="invisible-invisible"&gt;&lt;/a&gt;&lt;a id="invisible"&gt;&lt;/a&gt;Invisible&lt;/h3&gt;
&lt;p class="small-text"&gt;&lt;a href="dm-operations-center"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Invisible&lt;/p&gt;
&lt;ul class="square"&gt;
&lt;li&gt;Only visible with magic or special &lt;a href="sight"&gt;sight&lt;/a&gt;.&lt;/li&gt;
&lt;li&gt;Considered &lt;a href="obscured"&gt;heavily obscured&lt;/a&gt; for &lt;a href="hiding"&gt;hiding&lt;/a&gt;.&lt;/li&gt;
&lt;li&gt;Can still be detected by noise &amp;amp; tracks.&lt;/li&gt;
&lt;li&gt;All attacks have &lt;a href="advantage-disadvantage"&gt;advantage&lt;/a&gt;.&lt;/li&gt;
&lt;li&gt;Attacks &lt;strong&gt;against&lt;/strong&gt; have &lt;a href="disadvantage"&gt;disadvantage&lt;/a&gt;.&lt;/li&gt;
&lt;/ul&gt;
&lt;div class="blockquote-read-wrap"&gt;&lt;blockquote class="read small-text"&gt;
&lt;p&gt;&lt;strong&gt;Sources&lt;/strong&gt; &lt;br&gt;
Player’s Handbook, p. 291&lt;/p&gt;
&lt;/blockquote&gt;
&lt;/div&gt;</content>
  </page>
  <page id="fc112b05-8388-5447-92c2-129cfda65987" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Paralyzed</name>
    <slug>paralyzed</slug>
    <content>&lt;h3 id="paralyzed"&gt;&lt;a id="paralyzed-paralyzed"&gt;&lt;/a&gt;&lt;a id="paralyzed"&gt;&lt;/a&gt;Paralyzed&lt;/h3&gt;
&lt;p class="small-text"&gt;&lt;a href="dm-operations-center"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Paralyzed&lt;/p&gt;
&lt;ul class="square"&gt;
&lt;li&gt;Creature is &lt;a href="incapacitated"&gt;incapacitated&lt;/a&gt;.&lt;/li&gt;
&lt;li&gt;Can not move or speak.&lt;/li&gt;
&lt;li&gt;Fail all &lt;a href="strength"&gt;STR&lt;/a&gt; &amp;amp; &lt;a href="dexterity"&gt;DEX&lt;/a&gt; saving throws.&lt;/li&gt;
&lt;li&gt;Attacks &lt;strong&gt;against&lt;/strong&gt; have &lt;a href="advantage-disadvantage"&gt;advantage&lt;/a&gt;.&lt;/li&gt;
&lt;li&gt;Attack hits within 5’ are &lt;a href="criticals"&gt;critical hits&lt;/a&gt;.&lt;/li&gt;
&lt;/ul&gt;
&lt;div class="blockquote-read-wrap"&gt;&lt;blockquote class="read small-text"&gt;
&lt;p&gt;&lt;strong&gt;Sources&lt;/strong&gt; &lt;br&gt;
Player’s Handbook, p. 291&lt;/p&gt;
&lt;/blockquote&gt;
&lt;/div&gt;</content>
  </page>
  <page id="89f1b94b-a710-5e69-86bc-f22be8a33ac1" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Petrified</name>
    <slug>petrified</slug>
    <content>&lt;h3 id="petrified"&gt;&lt;a id="petrified-petrified"&gt;&lt;/a&gt;&lt;a id="petrified"&gt;&lt;/a&gt;Petrified&lt;/h3&gt;
&lt;p class="small-text"&gt;&lt;a href="dm-operations-center"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Petrified&lt;/p&gt;
&lt;ul class="square"&gt;
&lt;li&gt;Transformed into a solid substance.&lt;/li&gt;
&lt;li&gt;Mundane items are transformed too.&lt;/li&gt;
&lt;li&gt;Weight increases by ten.&lt;/li&gt;
&lt;li&gt;Frozen in time and stops aging.&lt;/li&gt;
&lt;li&gt;Creature is &lt;a href="incapacitated"&gt;incapacitated&lt;/a&gt;.&lt;/li&gt;
&lt;li&gt;Can not move or speak.&lt;/li&gt;
&lt;li&gt;Fail all &lt;a href="strength"&gt;STR&lt;/a&gt; &amp;amp; &lt;a href="dexterity"&gt;DEX&lt;/a&gt; saving throws.&lt;/li&gt;
&lt;li&gt;Resistance to all &lt;a href="damange-types"&gt;damage types&lt;/a&gt;.&lt;/li&gt;
&lt;li&gt;Immune to any new poison or disease.&lt;/li&gt;
&lt;li&gt;Existing poison or disease suspended.&lt;/li&gt;
&lt;/ul&gt;
&lt;div class="blockquote-read-wrap"&gt;&lt;blockquote class="read small-text"&gt;
&lt;p&gt;&lt;strong&gt;Sources&lt;/strong&gt; &lt;br&gt;
Player’s Handbook, p. 291&lt;/p&gt;
&lt;/blockquote&gt;
&lt;/div&gt;</content>
  </page>
  <page id="7a8c2337-2906-5744-acf8-fdefd03aeac1" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Poisoned</name>
    <slug>poisoned</slug>
    <content>&lt;h3 id="poisoned"&gt;&lt;a id="poisoned-poisoned"&gt;&lt;/a&gt;&lt;a id="poisoned"&gt;&lt;/a&gt;Poisoned&lt;/h3&gt;
&lt;p class="small-text"&gt;&lt;a href="dm-operations-center"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Poisoned&lt;/p&gt;
&lt;ul class="square"&gt;
&lt;li&gt;&lt;a href="advantage-disadvantage"&gt;Disadvantage&lt;/a&gt; on all attack rolls.&lt;/li&gt;
&lt;li&gt;&lt;a href="advantage-disadvantage"&gt;Disadvantage&lt;/a&gt; on all ability checks.&lt;/li&gt;
&lt;/ul&gt;
&lt;div class="blockquote-read-wrap"&gt;&lt;blockquote class="read small-text"&gt;
&lt;p&gt;&lt;strong&gt;Sources&lt;/strong&gt; &lt;br&gt;
Player’s Handbook, p. 292&lt;/p&gt;
&lt;/blockquote&gt;
&lt;/div&gt;</content>
  </page>
  <page id="c2897676-7460-5fba-866e-1aa143ecfa2c" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Prone</name>
    <slug>prone</slug>
    <content>&lt;h3 id="prone"&gt;&lt;a id="prone-prone"&gt;&lt;/a&gt;&lt;a id="prone"&gt;&lt;/a&gt;Prone&lt;/h3&gt;
&lt;p class="small-text"&gt;&lt;a href="dm-operations-center"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Prone&lt;/p&gt;
&lt;ul class="square"&gt;
&lt;li&gt;Only movement option is to &lt;a href="crawling"&gt;crawl&lt;/a&gt;.&lt;/li&gt;
&lt;li&gt;&lt;a href="advantage-disadvantage"&gt;Disadvantage&lt;/a&gt; on all attack rolls.&lt;/li&gt;
&lt;li&gt;Ranged attacks against have &lt;a href="disadvantage"&gt;disadv.&lt;/a&gt;.&lt;/li&gt;
&lt;li&gt;Melee attacks against have &lt;a href="advantage-disadvantage"&gt;advantage&lt;/a&gt;.&lt;/li&gt;
&lt;li&gt;Hits within 5’ are &lt;a href="criticals"&gt;critical hits&lt;/a&gt;.&lt;/li&gt;
&lt;/ul&gt;
&lt;div class="blockquote-read-wrap"&gt;&lt;blockquote class="read small-text"&gt;
&lt;p&gt;&lt;strong&gt;Sources&lt;/strong&gt; &lt;br&gt;
Player’s Handbook, p. 292&lt;/p&gt;
&lt;/blockquote&gt;
&lt;/div&gt;</content>
  </page>
  <page id="2ebe19f0-8565-5da9-81de-2284c755afad" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Restrained</name>
    <slug>restrained</slug>
    <content>&lt;h3 id="restrained"&gt;&lt;a id="restrained-restrained"&gt;&lt;/a&gt;&lt;a id="restrained"&gt;&lt;/a&gt;Restrained&lt;/h3&gt;
&lt;p class="small-text"&gt;&lt;a href="dm-operations-center"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Restrained&lt;/p&gt;
&lt;ul class="square"&gt;
&lt;li&gt;The creature’s speed is 0.&lt;/li&gt;
&lt;li&gt;Cannot benefit from any bonus to speed.&lt;/li&gt;
&lt;li&gt;All attacks have &lt;a href="advantage-disadvantage"&gt;disadvantage&lt;/a&gt;.&lt;/li&gt;
&lt;li&gt;Attacks &lt;strong&gt;against&lt;/strong&gt; have &lt;a href="advantage-disadvantage"&gt;advantage&lt;/a&gt;.&lt;/li&gt;
&lt;li&gt;&lt;a href="advantage-disadvantage"&gt;Disadvantage&lt;/a&gt; on &lt;a href="dexterity"&gt;DEX&lt;/a&gt; saving throws.&lt;/li&gt;
&lt;/ul&gt;
&lt;div class="blockquote-read-wrap"&gt;&lt;blockquote class="read small-text"&gt;
&lt;p&gt;&lt;strong&gt;Sources&lt;/strong&gt; &lt;br&gt;
Player’s Handbook, p. 292&lt;/p&gt;
&lt;/blockquote&gt;
&lt;/div&gt;</content>
  </page>
  <page id="383219e4-4b51-5b3a-ba3d-004618f09f9c" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Stunned</name>
    <slug>stunned</slug>
    <content>&lt;h3 id="stunned"&gt;&lt;a id="stunned-stunned"&gt;&lt;/a&gt;&lt;a id="stunned"&gt;&lt;/a&gt;Stunned&lt;/h3&gt;
&lt;p class="small-text"&gt;&lt;a href="dm-operations-center"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Stunned&lt;/p&gt;
&lt;ul class="square"&gt;
&lt;li&gt;Creature is &lt;a href="incapacitated"&gt;incapacitated&lt;/a&gt;.&lt;/li&gt;
&lt;li&gt;Cannot move, but can speak falteringly.&lt;/li&gt;
&lt;li&gt;Fail all &lt;a href="strength"&gt;STR&lt;/a&gt; &amp;amp; &lt;a href="dexterity"&gt;DEX&lt;/a&gt; saving throws.&lt;/li&gt;
&lt;li&gt;Attacks &lt;strong&gt;against&lt;/strong&gt; have &lt;a href="advantage-disadvantage"&gt;advantage&lt;/a&gt;.&lt;/li&gt;
&lt;/ul&gt;
&lt;div class="blockquote-read-wrap"&gt;&lt;blockquote class="read small-text"&gt;
&lt;p&gt;&lt;strong&gt;Sources&lt;/strong&gt; &lt;br&gt;
Player’s Handbook, p. 292&lt;/p&gt;
&lt;/blockquote&gt;
&lt;/div&gt;</content>
  </page>
  <page id="de61c128-5a88-5325-9539-2226b8ef2b33" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Surprised</name>
    <slug>surprised</slug>
    <content>&lt;h3 id="surprised"&gt;&lt;a id="surprised-surprised"&gt;&lt;/a&gt;&lt;a id="surprised"&gt;&lt;/a&gt;Surprised&lt;/h3&gt;
&lt;p class="small-text"&gt;&lt;a href="dm-operations-center"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Surprised&lt;/p&gt;
&lt;ul class="square"&gt;
&lt;li&gt;Cannot move or take an &lt;a href="actions"&gt;action&lt;/a&gt; on 1st turn.&lt;/li&gt;
&lt;li&gt;Cannot use a &lt;a href="reaction"&gt;reaction&lt;/a&gt; until 1st turn ends.&lt;/li&gt;
&lt;/ul&gt;
&lt;div class="blockquote-read-wrap"&gt;&lt;blockquote class="read small-text"&gt;
&lt;p&gt;The DM determines who might be surprised. If neither side tries to be stealthy, they automatically notice
each other. Otherwise, the DM compares the &lt;a href="dexterity"&gt;Dexterity&lt;/a&gt; (&lt;a href="stealth"&gt;Stealth&lt;/a&gt;) checks of anyone hiding with the passive
&lt;a href="wisdom"&gt;Wisdom&lt;/a&gt; (&lt;a href="perception"&gt;Perception&lt;/a&gt;) score of each creature on the opposing side. Any character or monster that doesn’t
notice a threat is surprised at the start of the encounter.&lt;/p&gt;
&lt;p&gt;If you’re surprised, you can’t move or take an &lt;a href="action"&gt;action&lt;/a&gt; on your first turn of the combat, and you can’t take a &lt;a href="reaction"&gt;reaction&lt;/a&gt; until that turn ends. A member of a group can be surprised even if the other members aren’t.&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Sources&lt;/strong&gt; &lt;br&gt;
System Reference Document, p. 90&lt;br&gt;
Player’s Handbook, p. 189&lt;/p&gt;
&lt;/blockquote&gt;
&lt;/div&gt;</content>
  </page>
  <page id="ac65fd4c-d2a5-56f8-80a3-ba3acfe66a8a" parent="2e5061d8-871b-53bb-b7c7-80ed942b1a30">
    <name>Unconcious</name>
    <slug>unconcious</slug>
    <content>&lt;h3 id="unconcious"&gt;&lt;a id="unconcious-unconcious"&gt;&lt;/a&gt;&lt;a id="unconcious"&gt;&lt;/a&gt;Unconcious&lt;/h3&gt;
&lt;p class="small-text"&gt;&lt;a href="dm-operations-center"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="conditions"&gt;Conditions&lt;/a&gt; &amp;gt; Unconcious&lt;/p&gt;
&lt;ul class="square"&gt;
&lt;li&gt;Creature is &lt;a href="incapacitated"&gt;incapacitated&lt;/a&gt;.&lt;/li&gt;
&lt;li&gt;Cannot move or speak.&lt;/li&gt;
&lt;li&gt;Drops whatever it is currently holding.&lt;/li&gt;
&lt;li&gt;Falls &lt;a href="prone"&gt;prone&lt;/a&gt;.&lt;/li&gt;
&lt;li&gt;Fail all &lt;a href="strength"&gt;STR&lt;/a&gt; &amp;amp; &lt;a href="dexterity"&gt;DEX&lt;/a&gt; saving throws.&lt;/li&gt;
&lt;li&gt;Melee attacks against have &lt;a href="advantage-disadvantage"&gt;advantage&lt;/a&gt;.&lt;/li&gt;
&lt;li&gt;Hits within 5’ are &lt;a href="criticals"&gt;critical hits&lt;/a&gt;.&lt;/li&gt;
&lt;/ul&gt;
&lt;div class="blockquote-read-wrap"&gt;&lt;blockquote class="read small-text"&gt;
&lt;p&gt;&lt;strong&gt;Sources&lt;/strong&gt; &lt;br&gt;
Player’s Handbook, p. 292&lt;/p&gt;
&lt;/blockquote&gt;
&lt;/div&gt;</content>
  </page>
  <page id="13ff72ae-0d3b-5f91-9818-3d57f3613694" parent="6fcaabe9-874f-5d17-aec2-58e97be7d2f2">
    <name>Climb</name>
    <slug>climb</slug>
    <content>&lt;h3 id="climb"&gt;&lt;a id="climb-climb"&gt;&lt;/a&gt;&lt;a id="climb"&gt;&lt;/a&gt;Climb&lt;/h3&gt;
&lt;p class="small-text"&gt;&lt;a href="dm-operations-center"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="movement"&gt;Movement&lt;/a&gt; &amp;gt; Climb&lt;/p&gt;
&lt;div class="blockquote-read-wrap"&gt;&lt;blockquote class="read small-text"&gt;
&lt;p&gt;&lt;strong&gt;Sources&lt;/strong&gt; &lt;br&gt;
Dungeon Master’s Guide, p. xxx&lt;/p&gt;
&lt;/blockquote&gt;
&lt;/div&gt;</content>
  </page>
  <page id="a56bad4f-f204-5164-abb8-c506fe6f7658" parent="6fcaabe9-874f-5d17-aec2-58e97be7d2f2">
    <name>Crawl</name>
    <slug>crawl</slug>
    <content>&lt;h3 id="crawl"&gt;&lt;a id="crawl-crawl"&gt;&lt;/a&gt;&lt;a id="crawl"&gt;&lt;/a&gt;Crawl&lt;/h3&gt;
&lt;p class="small-text"&gt;&lt;a href="dm-operations-center"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="movement"&gt;Movement&lt;/a&gt; &amp;gt; Crawl&lt;/p&gt;
&lt;div class="blockquote-read-wrap"&gt;&lt;blockquote class="read small-text"&gt;
&lt;p&gt;&lt;strong&gt;Sources&lt;/strong&gt; &lt;br&gt;
Dungeon Master’s Guide, p. xxx&lt;/p&gt;
&lt;/blockquote&gt;
&lt;/div&gt;</content>
  </page>
  <page id="248b5fd9-b98f-5b47-a36b-662c5be4c590" parent="6fcaabe9-874f-5d17-aec2-58e97be7d2f2">
    <name>Difficult Terrain</name>
    <slug>difficult-terrain</slug>
    <content>&lt;h3 id="difficult-terrain"&gt;&lt;a id="difficult-terrain-difficult-terrain"&gt;&lt;/a&gt;&lt;a id="difficult-terrain"&gt;&lt;/a&gt;Difficult Terrain&lt;/h3&gt;
&lt;p class="small-text"&gt;&lt;a href="dm-operations-center"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="movement"&gt;Movement&lt;/a&gt; &amp;gt; Difficult Terrain&lt;/p&gt;
&lt;div class="blockquote-read-wrap"&gt;&lt;blockquote class="read small-text"&gt;
&lt;p&gt;&lt;strong&gt;Sources&lt;/strong&gt; &lt;br&gt;
Dungeon Master’s Guide, p. xxx&lt;/p&gt;
&lt;/blockquote&gt;
&lt;/div&gt;</content>
  </page>
  <page id="f63d2b7a-ad5d-5c68-8f22-e4889815062f" parent="6fcaabe9-874f-5d17-aec2-58e97be7d2f2">
    <name>Fly</name>
    <slug>fly</slug>
    <content>&lt;h3 id="fly"&gt;&lt;a id="fly-fly"&gt;&lt;/a&gt;&lt;a id="fly"&gt;&lt;/a&gt;Fly&lt;/h3&gt;
&lt;p class="small-text"&gt;&lt;a href="dm-operations-center"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="movement"&gt;Movement&lt;/a&gt; &amp;gt; Fly&lt;/p&gt;
&lt;div class="blockquote-read-wrap"&gt;&lt;blockquote class="read small-text"&gt;
&lt;p&gt;&lt;strong&gt;Sources&lt;/strong&gt; &lt;br&gt;
Dungeon Master’s Guide, p. xxx&lt;/p&gt;
&lt;/blockquote&gt;
&lt;/div&gt;</content>
  </page>
  <page id="8f3ec86b-7600-547f-be03-d76b66b51840" parent="6fcaabe9-874f-5d17-aec2-58e97be7d2f2">
    <name>Forced March</name>
    <slug>forced-march</slug>
    <content>&lt;h3 id="forced-march"&gt;&lt;a id="forced-march-forced-march"&gt;&lt;/a&gt;&lt;a id="forced-march"&gt;&lt;/a&gt;Forced March&lt;/h3&gt;
&lt;p class="small-text"&gt;&lt;a href="dm-operations-center"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="movement"&gt;Movement&lt;/a&gt; &amp;gt; Forced March&lt;/p&gt;
&lt;p class="text-center"&gt;&lt;strong&gt;1pt &lt;a href="exhaustion"&gt;Exhaustion&lt;/a&gt; = &lt;a href="difficulty-class"&gt;DC&lt;/a&gt;10 &lt;a href="constitution"&gt;CON&lt;/a&gt; over 8 hours&lt;/strong&gt;&lt;/p&gt;
&lt;p&gt;The &lt;a href="difficulty-class"&gt;DC&lt;/a&gt; increases by 1 for each additional hour beyond 8 hours.&lt;/p&gt;
&lt;div class="blockquote-read-wrap"&gt;&lt;blockquote class="read small-text"&gt;
&lt;p&gt;&lt;strong&gt;Sources&lt;/strong&gt; &lt;br&gt;
System Reference Document, p. 84&lt;br&gt;
Player’s Handbook, p. 182&lt;/p&gt;
&lt;/blockquote&gt;
&lt;/div&gt;</content>
  </page>
  <page id="cd10f991-ca37-5f0e-b373-b3006db543c5" parent="6fcaabe9-874f-5d17-aec2-58e97be7d2f2">
    <name>Jump</name>
    <slug>jump</slug>
    <content>&lt;h3 id="jump"&gt;&lt;a id="jump-jump"&gt;&lt;/a&gt;&lt;a id="jump"&gt;&lt;/a&gt;Jump&lt;/h3&gt;
&lt;p class="small-text"&gt;&lt;a href="dm-operations-center"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="movement"&gt;Movement&lt;/a&gt; &amp;gt; Jump&lt;/p&gt;
&lt;div class="blockquote-read-wrap"&gt;&lt;blockquote class="read small-text"&gt;
&lt;p&gt;&lt;strong&gt;Sources&lt;/strong&gt; &lt;br&gt;
Dungeon Master’s Guide, p. xxx&lt;/p&gt;
&lt;/blockquote&gt;
&lt;/div&gt;</content>
  </page>
  <page id="baaaa80b-bda2-5b77-b721-ffc87fd569f3" parent="6fcaabe9-874f-5d17-aec2-58e97be7d2f2">
    <name>Size &amp; Space</name>
    <slug>size-and-space</slug>
    <content>&lt;h3 id="size-%26-space"&gt;&lt;a id="size-and-space-size-and-space"&gt;&lt;/a&gt;&lt;a id="size-and-space"&gt;&lt;/a&gt;Size &amp;amp; Space&lt;/h3&gt;
&lt;p class="small-text"&gt;&lt;a href="dm-operations-center"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="movement"&gt;Movement&lt;/a&gt; &amp;gt; Size &amp;amp; Space&lt;/p&gt;
&lt;div class="blockquote-read-wrap"&gt;&lt;blockquote class="read small-text"&gt;
&lt;p&gt;&lt;strong&gt;Sources&lt;/strong&gt; &lt;br&gt;
Dungeon Master’s Guide, p. xxx&lt;/p&gt;
&lt;/blockquote&gt;
&lt;/div&gt;</content>
  </page>
  <page id="8032fc2a-99a3-5495-829f-f0ea1ecd5115" parent="6fcaabe9-874f-5d17-aec2-58e97be7d2f2">
    <name>Swim</name>
    <slug>swim</slug>
    <content>&lt;h3 id="swim"&gt;&lt;a id="swim-swim"&gt;&lt;/a&gt;&lt;a id="swim"&gt;&lt;/a&gt;Swim&lt;/h3&gt;
&lt;p class="small-text"&gt;&lt;a href="dm-operations-center"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="movement"&gt;Movement&lt;/a&gt; &amp;gt; Swim&lt;/p&gt;
&lt;div class="blockquote-read-wrap"&gt;&lt;blockquote class="read small-text"&gt;
&lt;p&gt;&lt;strong&gt;Sources&lt;/strong&gt; &lt;br&gt;
Dungeon Master’s Guide, p. xxx&lt;/p&gt;
&lt;/blockquote&gt;
&lt;/div&gt;</content>
  </page>
  <page id="e872419b-927a-5505-a111-c1bb2c6be5e7" parent="6fcaabe9-874f-5d17-aec2-58e97be7d2f2">
    <name>Track</name>
    <slug>track</slug>
    <content>&lt;h3 id="track"&gt;&lt;a id="track-track"&gt;&lt;/a&gt;&lt;a id="track"&gt;&lt;/a&gt;Track&lt;/h3&gt;
&lt;p class="small-text"&gt;&lt;a href="dm-operations-center"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="movement"&gt;Movement&lt;/a&gt; &amp;gt; Track&lt;/p&gt;
&lt;table class="gray small-text"&gt;
&lt;thead&gt;
&lt;tr&gt;
&lt;th&gt;Surface&lt;/th&gt;
&lt;th style="text-align:center"&gt;DC&lt;/th&gt;
&lt;/tr&gt;
&lt;/thead&gt;
&lt;tbody&gt;
&lt;tr&gt;
&lt;td&gt;Soft surfaces like mud, sand, and snow.&lt;/td&gt;
&lt;td style="text-align:center"&gt;10&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td&gt;Firm surfaces like dirt and grass.&lt;/td&gt;
&lt;td style="text-align:center"&gt;15&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td&gt;Hard surfaces like floors and stone.&lt;/td&gt;
&lt;td style="text-align:center"&gt;20&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td&gt;Each day since creature passed.&lt;/td&gt;
&lt;td style="text-align:center"&gt;+5&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td&gt;Creature is leaving a trail (ie Blood, etc).&lt;/td&gt;
&lt;td style="text-align:center"&gt;-5&lt;/td&gt;
&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
&lt;div class="blockquote-read-wrap"&gt;&lt;blockquote class="read small-text"&gt;
&lt;p&gt;&lt;strong&gt;Sources&lt;/strong&gt; &lt;br&gt;
Dungeon Master’s Guide, p. xxx&lt;/p&gt;
&lt;/blockquote&gt;
&lt;/div&gt;</content>
  </page>
  <page id="e7e8f7e2-ac94-5330-bf0c-5f215ad33be2" parent="6fcaabe9-874f-5d17-aec2-58e97be7d2f2">
    <name>Travel Pace</name>
    <slug>travel-pace</slug>
    <content>&lt;h3 id="travel-pace"&gt;&lt;a id="travel-pace-travel-pace"&gt;&lt;/a&gt;&lt;a id="travel-pace"&gt;&lt;/a&gt;Travel Pace&lt;/h3&gt;
&lt;p class="small-text"&gt;&lt;a href="dm-operations-center"&gt;Home&lt;/a&gt; &amp;gt; &lt;a href="movement"&gt;Movement&lt;/a&gt; &amp;gt; Travel Pace&lt;/p&gt;
&lt;table class="gray small-text"&gt;
&lt;thead&gt;
&lt;tr&gt;
&lt;th&gt;Pace&lt;/th&gt;
&lt;th&gt;Minute&lt;/th&gt;
&lt;th&gt;Hour&lt;/th&gt;
&lt;th&gt;Day&lt;/th&gt;
&lt;th&gt;Effect&lt;/th&gt;
&lt;/tr&gt;
&lt;/thead&gt;
&lt;tbody&gt;
&lt;tr&gt;
&lt;td&gt;Fast&lt;/td&gt;
&lt;td&gt;400 ft&lt;/td&gt;
&lt;td&gt;4 mi&lt;/td&gt;
&lt;td&gt;30 mi&lt;/td&gt;
&lt;td&gt;-5 &lt;a href="perception"&gt;PP&lt;/a&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td&gt;Normal&lt;/td&gt;
&lt;td&gt;300 ft&lt;/td&gt;
&lt;td&gt;3 mi&lt;/td&gt;
&lt;td&gt;24 mi&lt;/td&gt;
&lt;td&gt;—&lt;/td&gt;
&lt;/tr&gt;
&lt;tr&gt;
&lt;td&gt;Slow&lt;/td&gt;
&lt;td&gt;200 ft&lt;/td&gt;
&lt;td&gt;2 mi&lt;/td&gt;
&lt;td&gt;18 mi&lt;/td&gt;
&lt;td&gt;&lt;a href="stealth"&gt;Stealth&lt;/a&gt;&lt;/td&gt;
&lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
&lt;p&gt;&lt;em&gt;See Also: &lt;a href="forced-march"&gt;Forced March&lt;/a&gt;&lt;/em&gt;&lt;/p&gt;
&lt;div class="blockquote-read-wrap"&gt;&lt;blockquote class="read small-text"&gt;
&lt;p&gt;&lt;strong&gt;Sources&lt;/strong&gt; &lt;br&gt;
System Reference Document, p. 84&lt;br&gt;
Player’s Handbook, p. 182&lt;/p&gt;
&lt;/blockquote&gt;
&lt;/div&gt;</content>
  </page>
</module>